description "etcd daemon"

start on startup
stop on shutdown

respawn
respawn limit 2 5
console output

script
    logger "start $UPSTART_JOB"
    ETCD=/usr/bin/etcd
    if [ -f /etc/etcd/etcd.conf ]; then
        . /etc/etcd/etcd.conf
    fi
    exec "$ETCD" \
    --name ${ETCD_NAME} \
    --data-dir ${ETCD_DATA_DIR} \
    --cert-file /etc/kubernetes/ssl/etcd.pem \
    --key-file /etc/kubernetes/ssl/etcd-key.pem \
    --peer-cert-file /etc/kubernetes/ssl/etcd.pem \
    --peer-key-file /etc/kubernetes/ssl/etcd-key.pem \
    --trusted-ca-file /etc/kubernetes/ssl/ca.pem \
    --peer-trusted-ca-file /etc/kubernetes/ssl/ca.pem \
    --listen-client-urls ${ETCD_LISTEN_CLIENT_URLS} \
    --listen-peer-urls ${ETCD_LISTEN_PEER_URLS} \
    --advertise-client-urls ${ETCD_ADVERTISE_CLIENT_URLS} \
    --initial-advertise-peer-urls ${ETCD_INITIAL_ADVERTISE_PEER_URLS} \
    --initial-cluster ${ETCD_INITIAL_CLUSTER} \
    --initial-cluster-token ${ETCD_INITIAL_CLUSTER_TOKEN} \
    --initial-cluster-state ${ETCD_INITIAL_CLUSTER_STATE} \
    1>>/var/log/etcd.log 2>&1
end script

post-start script
    logger "etcd is up"
end script

post-stop script
    logger "etcd is stopped"
end script