description "kube-apiserver daemon"

start on startup
stop on shutdown

respawn
respawn limit 2 5
console output

script
    logger "start $UPSTART_JOB"

    if [ -f /etc/kubernetes/config ]; then
      . /etc/kubernetes/config
    fi
    if [ -f /etc/kubernetes/apiserver ]; then
      . /etc/kubernetes/apiserver
    fi
    exec /usr/bin/kube-apiserver \
    $KUBE_LOG_DIR \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_ALLOW_PRIV \
    $KUBE_ADDRESS \
    $KUBE_ETCD \
    $KUBE_SERVICE_ADDRESSES \
    $KUBE_ADMISSION_CONTROL \
    $KUBE_AUDIT \
    $KUBE_AUTH \
    $KUBE_TLS \
    $KUBE_ARGS
end script

post-start script
    logger "kube-apiserver is up"
end script

post-stop script
    logger "kube-apiserver is stopped"
end script