description "kube-scheduler daemon"

start on (filesystem and net-device-up IFACE!=lo)
stop on runlevel [!2345]

respawn
respawn limit 5 10
console output

script
    logger "start $UPSTART_JOB"

    if [ -f /etc/kubernetes/config ]; then
      . /etc/kubernetes/config
    fi
    if [ -f /etc/kubernetes/scheduler ]; then
      . /etc/kubernetes/scheduler
    fi
    exec /usr/bin/kube-scheduler \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_SCHEDULER_CONFIG \
    $KUBE_SCHEDULER_ARGS \
    1>>/var/log/kube-scheduler.log 2>&1
end script

post-start script
    logger "kube-scheduler is up"
end script

post-stop script
    logger "kube-scheduler is stopped"
end script