[Unit]
Description=Kubernetes API Service
Documentation=https://github.com/kubernetes
After=network.target

[Service]
Type=notify
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/apiserver
ExecStart=/usr/bin/kube-apiserver \
    $KUBE_LOG_DIR \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_ALLOW_PRIV \
    $KUBE_API_ADDRESS \
    $KUBE_API_ETCD \
    $KUBE_API_SERVICE_ADDRESSES \
    $KUBE_API_ADMISSION_CONTROL \
    $KUBE_API_AUDIT \
    $KUBE_API_AUTH \
    $KUBE_API_TLS \
    $KUBE_API_ARGS
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target