description "kubelet daemon"

start on startup
stop on shutdown

respawn
respawn limit 2 5
console output

script
    logger "start $UPSTART_JOB"

    if [ -f /etc/kubernetes/config ]; then
      . /etc/kubernetes/config
    fi
    if [ -f /etc/kubernetes/kubelet ]; then
      . /etc/kubernetes/kubelet
    fi
    exec /usr/bin/kubelet \
    $KUBE_LOG_DIR \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_ALLOW_PRIV \
    $KUBELET_POD_INFRA_CONTAINER \
    $KUBELET_ARGS \
    $KUBELET_NET
end script

post-start script
    logger "kubelet is up"
end script

post-stop script
    logger "kubelet is stopped"
end script