description "kube-controller-manager daemon"

start on startup
stop on shutdown

respawn
respawn limit 2 5
console output

script
    logger "start $UPSTART_JOB"

    if [ -f /etc/kubernetes/config ]; then
      . /etc/kubernetes/config
    fi
    if [ -f /etc/kubernetes/controller-manager ]; then
      . /etc/kubernetes/controller-manager
    fi
    exec /usr/bin/kube-controller-manager \
    $KUBE_LOG_DIR \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_TLS \
    $KUBE_CONFIG \
    $KUBE_ARGS
end script

post-start script
    logger "kube-controller-manager is up"
end script

post-stop script
    logger "kube-controller-manager is stopped"
end script