description "kube-proxy daemon"

start on startup
stop on shutdown

respawn
respawn limit 2 5
console output

script
    logger "start $UPSTART_JOB"

    if [ -f /etc/kubernetes/config ]; then
      . /etc/kubernetes/config
    fi
    if [ -f /etc/kubernetes/proxy ]; then
      . /etc/kubernetes/proxy
    fi
    exec /usr/bin/kube-proxy \
    $KUBE_LOG_DIR \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_PROXY_ARGS
end script

post-start script
    logger "kube-proxy is up"
end script

post-stop script
    logger "kube-proxy is stopped"
end script