description "kube-controller-manager daemon"

start on (filesystem and net-device-up IFACE!=lo)
stop on runlevel [!2345]

respawn
respawn limit 5 10
console output

script
    logger "start $UPSTART_JOB"

    if [ -f /etc/kubernetes/config ]; then
      . /etc/kubernetes/config
    fi
    if [ -f /etc/kubernetes/controller-manager ]; then
      . /etc/kubernetes/controller-manager
    fi
    exec /usr/bin/kube-controller-manager \
    $KUBE_LOG_DIR \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_CONTROLLER_TLS \
    $KUBE_CONTROLLER_CONFIG \
    $KUBE_CONTROLLER_ARGS \
    1>>/var/log/kube-controller-manager.log 2>&1
end script

post-start script
    logger "kube-controller-manager is up"
end script

post-stop script
    logger "kube-controller-manager is stopped"
end script